.chores{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: rgb(89, 71, 255);
}
.chores h3{
    text-decoration: underline;
}
.chores li{
    font-style: italic;
}
.chores{
    color:maroon;
    border: 1px black solid ;
}